/**
* Remove google logo from the map
*/
a[href^="https://maps.google.com/maps"]{display:none !important}

*, html, body, h1, h2, h3, h4, p {
  font-family: "Roboto", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/**
* By default, our icons will be large
*/
i.fa {
  font-size: large;
}

#logo {
  height: 60px;
}


@media screen and (max-width: 350px) {
  #logo {
    height: 45px;
  }
}

@media screen and (max-width: 600px) and (min-width: 351px) {
  #logo {
    height: 50px;
  }
}


#main-box {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

#main-toolbar {
 height: 64px;
}

.angular-google-map-container { 
	position: absolute;
	width: 100%;
  height: 100%;
}

#main-map .angular-google-map-container {
  top: 64px;
  height: calc(100% - 64px);
}

.addMarker { 
	position: relative;
	display: block;
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.new-marker-content {
  padding-left: 30px;
  padding-right: 10px;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }


.md-padding {
	width: 90%;
	height: 80%;
}

.md-actions {
	/*position: absolute;*/
	display: block;
    bottom: 0;
    left: 0;
    right: 0;
}

.type-radio {
	display: inline-block;
	margin-right: 20px;
}

/* Search box styles */

.pac-controls {
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px !important;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: width .4s;
  -moz-transition: width .4s;
  -o-transition: width .4s;
  transition: width .4s;

}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  margin: 5px 1%;
  border-color: #4d90fe;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 98%;
}

#pac-input.has-value {
  margin: 5px 1%;
  padding-left: 14px;
  width: 98%;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.pac-container.pac-logo:after {
  display: none;
}

/* For now, jquery ui-loader class will be hidden*/
.ui-loader {
  display: none;
}

#sidenav-statistics {
  overflow: hidden;
  zoom: 1;
  height: 70%;
  max-height: 700px;
  margin: 0;
  top: 100px;
  left: 10px;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 5px;
  opacity: .95;
  /*background-color: rgba(33, 150, 243, 0.83);*/
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #EE5555;
}

md-toast.error .md-toast-content {
    background-color: rgba(251, 0, 0, 0.66);
}

md-toast.success .md-toast-content {
    background-color: rgba(10, 156, 10, 0.88);
}

@media only screen and (max-width: 959px) and (min-width: 0) {
  #main-toolbar {
    height: 56px; 
  }
  
  #main-map .angular-google-map-container {
    top: 56px;
    height: calc(100% - 56px);
  }
  
  
  i.fa {
    font-size: x-large;
  }
}

@media screen and (min-width: 457px) {
  #sidenav-statistics {
    width: 400px;
  }
}