html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}


header {
}


#btShow {
	position: absolute;
	z-index: 4;
}

#main-box {
position: absolute;
height: 100%;
width: 100%;
z-index: 0;
}

.angular-google-map-container { 
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#main-sidebar {
	position: absolute;
	top: 50px;
	height: 519px;
	float: left;
	width: 25%;
	min-width: 300px;
	background: transparent linear-gradient(#8C8C8C, #000) repeat scroll 0% 0%;
	border: 5px solid rgba(101, 101, 101, 0.69);
  border-radius: 5px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6) inset;
	transition: margin-right 0.3s ease-in-out 0s;
	z-index: 3;

	font-size: 16px;
}

#main-sidebar a {
		display: block;
		background: transparent linear-gradient(#3E3E3E, #383838) repeat scroll 0% 0%;
		border-top: 1px solid #484848;
		border-bottom: 1px solid #2E2E2E;
		color: #FFF;
		padding: 15px;
		text-decoration: none;
}

#main-sidebar a:hover{
	background: transparent linear-gradient(#484848, #383838) repeat scroll 0% 0%;
}
